/* inizio header */
header{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    background-color:rgb(255, 255, 255);
    height: 50px;
    margin: 20px 0px;
}

header div h1{ 
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
/* fine header */

/* inizio main */
main{
    background-color: #F6F8F9;
    height: 1000px;
    padding-top: 50px;
}

.white-box{
    width: 80%;
    box-sizing: content-box;
    margin: auto;
    background-color:rgb(255, 255, 255);
}

/* inizio prima section */
.box1{   
    height: 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 3px;
}
.box2{   
    height: 500px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 50px;
}

.content1{
    padding: 10px 40px;
}

.content2{
    padding: 30px 40px;
}

button{
    height: 30px;
    border-radius: 5px;
}

.button1{
    width: 80px;
    border: none;
    color:white;
}

.button2{
    width: 100px;
    background-color: white;
    border-width: 2px;
    border-color: lightgrey;
    border-style: solid;
    color: lightgrey;
}
/* fine prima section */

/* inizio seconda section */
.descriptions{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px;
}

.task{
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.topics{
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 10px;
    color: white;
    border-radius: 15px;
    padding: 7px 12px;
}

.true{
    width: 13px;
    height: 13px;
    border-width: 2px;
    border-radius: 30px;
    border-color: green;
    border-style: solid;
    display: inline-block;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
    color: green;
}

.false{
    width: 13px;
    height: 13px;
    border-width: 2px;
    border-radius: 30px;
    border-color: red;
    border-style: solid;
    display: inline-block;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
    color: red;
}

.descriptions:before{
    content: '\1F893';
}

.space1{
    padding-bottom: 30px;
}

.space2{
    padding-bottom: 10px;
}
/* fine seconda section */

/* colori */
.blue{ 
    background-color: rgb(29, 172, 216);
}

.violet{
    background-color: rgb(133, 31, 180);
}

.green{
    background-color: rgb(16, 184, 105);
}

.orange{
    background-color: orangered;
}

.pink{
    background-color: orchid;
}

.yellowgreen{
    background-color: rgb(172, 189, 17);
}
/* fine colori */